.addSale{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
} 
.addSaleInner{
    width: 100%;
    overflow: auto;
    margin-top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: #e5f3ff;
    height: 88vh;
    border-radius: 15px 0 0 0;
    position: relative;
}
.containent{
    width: 100%;
    height: 90%;
    overflow: auto;
}
.containent form{
    width: 95%;
}
.action-invo{
    width: 90%;
    z-index: 10;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
}
.paid{
    outline: none;
    /* background-color: rgba(0, 0, 0, 0.545); */
    color: black;
    border: none;
    height: 50px;
    font-size: 1rem;
    width: 170px;
    /* border-radius: 7px; */
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-left: none;
    border-right: none;
}
.paid input{
    width: 100%;
    height: 100%;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 5px;
}
.paid input::placeholder {
    color: green;
    font-size: 1rem;
    opacity: 1; /* Firefox */
  }
.invo-btn{
    width: 178px;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
}

#can{
    background-color: transparent;
    position: fixed;
    top: -0.5%;
    left: 15%;
    z-index: 100;
}
#sav{
    border-radius: 7px;
}
.f1{
    width: 100%;
}
.suggest{
    
    margin-top: -12px;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    border-radius: 10x;
    margin-bottom: 20px;
}
.suggest h6{
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
    background-color: white;
}
.suggest h6:nth-child(2n){
    background-color: #1c4d75;
    color: white;
}
.item-selected{
    margin-top: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    max-height: 50vh;
}
.f1 input{
    color: black;
    border-color: black;
    width: auto;
}
.topin{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.total{
    
    color: gray;
    font-size: 1rem;
    height: 43px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid ;
    
}
.divider
{
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px dotted;
}
.invo-item{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
}
.invo-item input::placeholder{
    color: black;
}
.invo-item input{
    border-color: black;
    width: 21.5%;
    color: black;
    padding: 5px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 0%;

}

.addi{
    height: 30px;
    width: 30px;
}
.addi svg{
    height: 90%;
    fill: #1c4d75e6;
    
}
@media screen and (max-width:800px){
    .invo-item{

    }
    .addSale{
        min-height: 80vh;
    }
    #pname{
     width: 100%;   
    }
    .suggest{
        width: 100%;
    }
    #can{
        top: -0.5%;
        left: 0%;
    }
    .containent{
        padding: 10px;
        margin-left: 10px;
        box-sizing: border-box;
        
    }
    .addSaleInner{
        margin: 0;
        width: 100vw;
        padding: 0;
        border-radius: 0%;
        height: 82vh;
    }
}