*{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
}
::-webkit-scrollbar {
    width: 8px
  }
  ::-webkit-scrollbar-track {
    background:transparent; 
  }
::-webkit-scrollbar-thumb {
   background-color: white;
    /* border-radius: 50px; */

}
::-webkit-scrollbar-thumb:hover {
    background: #e96d40;
  }

@media screen and (max-width:800px){
  ::-webkit-scrollbar {
    display: none;
  }
}