.inventory{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
} 
.action-add{
    position: absolute;
    font-size: 1.2rem;
    height: 40px;
    padding: 5px;
    top: 7px;
    left: 10px;
    border-radius: 10px;
    border: 2px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    transition: all 0.5s;
}
.action-add:hover{
    background-color: white;
    color: black;
}
.item-details{
    width: 96%;
    overflow: auto;
    margin-top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: #ffffff;
    height: 85vh;
    border-radius: 20px;
    
}
.item{
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    color: black;
    font-weight: 400;
    flex-direction: row;
    padding-bottom: 10px;
    /* height: 50px; */
}

.left-i{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.5s;
}
.left-i:hover{
    background-color: rgba(0, 0, 0, 0.356);

}
.right-i{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

hr{
    height: 70%;
}
#plus{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    
}
#minus{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
}
#delete{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    
}
#plus{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#plus:hover ,#minus:hover, #delete:hover{
    box-shadow: 0 0 7px 2px #1c4d75;
}
#minus{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
#delete{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
#plus svg{
    height: 60%;
    fill: green;
}
#minus svg{
    height: 60%;
    fill: red;
}
#delete svg{
    height: 60%;
    fill: rgb(0, 0, 0);
}
#sp{
    color: green;
    font-size: 1.05rem;
    margin: 0 8px;
}
#cp{

    margin: 0 10px;
     font-size: 1.05rem;

    color: red;
}
#qty{

    margin: 0 10px;
    font-size: 1.05rem;

    color: rgb(0, 0, 0);
}
#loc{
    margin: 0 10px;
    font-size: 1.05rem;

    color: rgb(0, 0, 0);
}
#name{
    overflow: auto;
    width: 100%;
    font-size: 1.3rem;
    padding-left: 10px;
}
@media screen and (max-width:800px){
    .action-add{
        position: fixed;
        top: 7px;
        left: 2px;
    }
    .item-details{
        margin: 0;
        width: 100%;
        padding: 0;
    }
    
}
.empty{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.illemp{
    height: 50%;
    width: 50%;
}
.illemp img{
    width: 100%;
    height: 100%;
}